header.style {
  border: 2px solid black;
  background-color: #FFB4B0;
  font-family: sans-serif;
}

li.one {
  display: inline;
  border-right: 2px solid black;
}

li.two {
  display: inline;
  margin-left: 4px;
  border-right: 2px solid black;
}

li.three {
  display: inline;
  margin-left: 4px;
}

.article1 {
  background-color: #4DD7FA;
  border: 2px solid black;
  font-family: sans-serif;
}

.section1 {
  margin: 1em;
}